.clumn__groups__group
  test-group
  %p.clumn__groups__group--small new masseages

.clumn__groups__group
  sample-group
  %p.clumn__groups__group--small new masseages

.clumn__groups__group
  example-group
  %p.clumn__groups__group--small new masseages