
.clumn
  .clumn__main-group
    testuser
    .clumn__main-group__create 
      o
    .clumn__main-group__setting 
      x
  .clumn__groups
    .clumn__groups__group
      test-group
      %p.clumn__groups__group--small new masseages
    .clumn__groups__group
      sample-group
      %p.clumn__groups__group--small new messages
    .clumn__groups__group
      example
      %p.clumn__groups__group--small new messages


.chat-area
  .edit-area
    .edit-area__group 
      test-group
      %p.edit-area__group__member member:user
    .edit-area__edit-button Edit
  .log-area
    .log-area__log
      %p.log-area__log__name testuser
      %p.log-area__log__date 2019/7/27(sun) 13:00
      %p.log-area__log__text こんにちは！
    .log-area__log
      %p.log-area__log__name testuser
      %p.log-area__log__date 2019/7/27(sun) 13:01
      %p.log-area__log__text さようなら！
  .post-area
    .post-area__bar
      type a messages
      .post-area__bar__image-button
        []
    .post-area__button
      Send

