= render partial: 'shared/side_bar.html.haml'

.chat-area
  .edit-area
    .edit-area__group 
      test-group
      %p.edit-area__group__member member:user
    =link_to "/groups/2/edit" do
      .edit-area__edit-button edit
  .log-area
    = render partial: 'shared/chat-log.html.haml'
  %form.post-area
    .post-area__bar
      %input.post-area__bar__input(type = "text" value = "" placeholder= "type a messages")
      %label.post-area__bar__image-button
        %input#image-select(type = "file" value = "image")
        = fa_icon("image lg")
    %input.post-area__button(type = "submit" value = "Send")