.log-area__log
  %p.log-area__log__name testuser
  %p.log-area__log__date 2019/7/27(sun) 13:00
  %p.log-area__log__text こんにちは！


.log-area__log
  %p.log-area__log__name testuser
  %p.log-area__log__date 2019/7/27(sun) 13:01
  %p.log-area__log__text さようなら！