body{
  background-color: $white;
  width: 100vw;
  height: 100vh;
}

.clumn{
  @include font-data($white, 16px, bold);
  position: fixed;
  float: left;
  z-index: 11;
  width: 300px;
  height: 100%;
  background-color: #2f3e51;
  &__main-group{
    @include text-center(100px);
    background-color: #253141;
    font-size: 16px;
    padding: 0 20px;
    &__create{
      float: right;
    }
    &__setting{
      margin-left: 3px;
      float: right;
    }
  }
  &__groups{
    font-size: 15px;
    padding: 0 20px;
    &__group{
      padding-top:20px;
      padding-bottom: 40px;
      &--small{
        padding-top: 5px;
        font-size: 11px;
      }
    }
  }
}

.chat-area{
  height: 100%;
  width: calc(100vw - 300px);
  float: right;

  .edit-area{
    position: fixed;
    background-color: $white;
    height: auto;
    width: calc(100vw - 300px);
    box-sizing: border-box;
    border-bottom: solid 3px #eeeeee;
    padding: 0 40px;
    display: flex;
    &__group{
      @include font-data(#333333, 20px);
      flex: 10 1 200px;
      width: 200px;
      padding-top: 35px;
      &__member{
        @include font-data($light-gray, 12px);
        width: 100px;
        margin-top: 15px;
      }
    }
    &__edit-button{
      @include text-center(35px,center);
      font-size: 18px;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px $light-blue;
      color: $light-blue;
      }
  }

  .log-area{
    padding: 146px 40px 0px;
    background-color: #fafafa;
    min-height: 300vh;
    height: auto;
    &__log{
      padding: 0px 0px 40px;
      &__name{
        @include font-data($light-black, 16px, bold);
        float: left;
        margin-right: 10px;
        padding-bottom: 10px;
      }
      &__date{
        @include font-data($light-gray, 12px);
      }
      &__text{
        @include font-data($light-black, 14px);
        clear: both;
      }
    }
  }

  .post-area{
    background-color: #dcdcdc;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 300px);
    padding: 20px 0px 20px;
    display:flex;
    flex-flow: row wrap;
    
    &__bar{
      position: relative;
      background-color: $white;
      flex: 20 20 100px;
      margin-left: 40px;
      &__input{
        @include reset_form;
        @include text-center(50px);
        @include font-data($light-black, 16px);
        position: absolute;
        padding-left: 10px;
        width: 100%;
      }
      &__image-button{
        @include reset_form;
        @include text-center(50px);
        position: absolute;
        right: 10px;
      }
    }
    &__button{
      @include reset_form;
      @include text-center(50px,center);
      @include font-data($white, 15px);
      flex: 1 1 50px;
      width: 100px;
      margin-left: 15px;
      background-color: $light-blue;
      margin-right: 40px;
    }
    .image-select{
      display: none;
    }
  }
}

a{
  &:link{
    color: $white;
  }
  &:visited{
    color: $white;
  }
  text-decoration: none;
}